@{
    ViewData["Title"] = "Home";
}

<div class="text-center m-5">
    <h1 class="display-4">CBTSWE2 - Trabalho Prático 03</h1>
    <h2>CRUD - Gerenciamento de Produtos</h2>
    <h3>Aluno: Cesar Beda Candido da Silva CB302704X</h3>
    <a href="https://github.com/CesarBeda/CBTSWE2/tree/main/TP03">Repositório no GitHub</a>
</div>