@model TP2.Models.Container

@{
    ViewData["Title"] = "Editar Container";
}

@* MOSTRAR A MENSAGEM DE SUCESSO *@
@if (ViewBag.SuccessMessage != null)
{
    <div id="success-alert" class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-2">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control">
                    <option value="">-- Selecione o Tipo --</option>
                    <option value="Dry">Dry</option>
                    <option value="Reefer">Reefer</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="Tamanho" class="control-label"></label>
                <select asp-for="Tamanho" class="form-control">
                    <option value="">-- Selecione o Tamanho --</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                </select>
                <span asp-validation-for="Tamanho" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="BLId" class="control-label">BL</label>
                <select asp-for="BLId" class="form-control" asp-items="ViewBag.BLId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @* FAZER A MENSAGEM DESAPARECER *@
    <script>
        var successAlert = document.getElementById('success-alert');
        if (successAlert) {
            setTimeout(function() {
                successAlert.style.display = 'none';
            }, 3000); // 3 segundos
        }
    </script>
}